.Signal {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}

.Signal input {
    margin : 2% 3%;
}

/*
    margin: 2% 3%;
    flex-grow: 3;
    text-align: left;
 */
